img {
  max-width: 100%;
}

hr {
  width: 50%;
}

p.front-page {
  font-size: 16px;
}

.btn-primary {
  width: 150px;
  margin: 1px 20px;
}

.navbar-default {
  padding-left: 75px;
  padding-right: 75px;
}

.recent-heading {
  margin-top: 50px;
}

.recent-flyer-row {
  display: flex;
  height: 200px;
  align-items: center;
  text-align: left;
}